@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #EFEFEF;
}
.topo{
    max-width: 100%;
    text-align: center;
}
.topo h1{
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    color:cadetblue;
    line-height: 0.8;
}
.topo p{
    font-family: "Poppins", sans-serif;
    line-height: 1;
}
.corpo{
    font-family: "roboto", sans-serif;
    margin: 100px;
    padding: 10px;
    color: #222222;
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;
}
.detalhes{
    text-align: left;
    margin: 10px 150px 10px 20px;
    width: 250px;
    height: 45 0px;
}
.detalhes a{
    text-decoration: none;
    color: black;
}
.sobre{
    text-align: left;
    margin: 10px;
    width: 250px;
    height: 450px;
}
.sobre a{
    text-decoration: none;
    color: black;
}
.botao{
    margin: 10px 0px 0px 0px;
    margin-top: 80px;
    padding: 15px 20px 15px 20px;
    border: solid #FF4805 3px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
}
.ola{
    margin: 10px 20px 10px 150px;
    padding: 0px 15px 30px 15px;
    width: 250px;
    height: 450px;
    color: #FFFFFF;
    background-color: #F06449;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}
.ola p{
    margin-top: -30px;
}
.ola h2{
    margin-top: -30px;
}
.ola a{
    text-decoration: none;
    color: #FFFFFF;
}
.imagem{
    height: 190px;
    width: 190px;
    border-radius: 100%;
    background-image: url(../images/mulher-no-computador.avif);
    background-size: cover;
    margin-top: -70px;
}
.rodape{
    width: 100%;
    background-color: #3A3A3A;
    height: auto;
    color: #FFFFFF;
    position: relative;
    bottom: 0;
    padding: 30px 0 30px 0;
}
.texto_rodape{
    text-align: center;
    padding: 10px 30% 10px 30%;

}

@media (max-width: 430px) {
    body {
        margin: 0;
        overflow-x: hidden;
    }
    .corpo {
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .ola {
        order: 1;
        width: 100%;
        max-width: 340px;
        margin: 0;
        margin-top: 50px;
        border-radius: 20px;
    }
    .imagem {
        width: 150px;
        height: 150px;
        margin-top: -60px;
    }
    .sobre {
        order: 2;
        width: 100%;
        max-width: 340px;
        height: auto;
        margin: 0;
        text-align: center;
    }
    .botao{
        margin-left: 25%;
        margin-right: 25%;
    }
    .detalhes {
        order: 3;
        width: 100%;
        max-width: 340px;
        height: auto;
        margin: 0;
        text-align: center;
    }
    .rodape {
        position: relative;
        height: auto;
        padding: 30px 0;
    }
    .texto_rodape {
        padding: 10px 20px;
    }
}

@media (max-width: 1329px) and (min-width: 431px) {
    .corpo {
        margin: 0;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .ola{
        order: 1;
        width: 100%;
        max-width: 420px;
        margin: 0;
        text-align: center;
    }
    .topo{
        margin-bottom: 80px;
    }
    .sobre{
        order: 2;
        width: 100%;
        max-width: 420px;
        margin: 0;
        text-align: center;
    }
    .detalhes{
        order: 3;
        width: 100%;
        max-width: 420px;
        margin: 0;
        text-align: center;
    }
    .imagem {
        width: 160px;
        height: 160px;
        margin-top: -60px;
    }
    .botao {
        margin-left: 30%;
        margin-right: 30%;
    }
    .rodape {
        position: relative;
        height: auto;
        padding: 30px 0;
    }
    .texto_rodape {
        padding: 10px 20px;
    }
}
